.content__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: var(--clr-blue);
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.content__heading {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--clr-white);
  margin-bottom: 0.625rem;
}
