:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light: hsl(217, 12%, 63%);
  --clr-medium: hsl(216, 12%, 54%);
  --clr-blue: hsl(213, 19%, 22%);
  --clr-blue-2: hsl(213, 19%, 15%);
  --clr-dark-blue: hsl(216, 12%, 8%);
  --clr-accent: hsl(25, 97%, 53%);
}

html {
  font-size: 0.875rem;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 1.125rem;
  }
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: var(--clr-dark-blue);
  color: var(--clr-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
