.result {
  text-align: center;
}

.result__img {
  margin: 1rem auto;
  display: inline-block;
}

.result__feedback {
  font-size: 0.875rem;
  color: var(--clr-accent);
  background-color: var(--clr-blue);
  width: 60%;
  margin: 1rem auto;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  border-radius: 2rem;
}

.result__heading {
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--clr-white);
  margin-bottom: 1rem;
}
